---
import '../styles/Global.css';
import Layout from "../layouts/Layout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "Brahadeesh",
  country: "India",
  occupation: "Gamer and Student",
  hobbies: ["Paleontology", "Football", "gaming"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
const age = 21;


---
<Layout title="About">
  <div class="card">
    <h2>About Me</h2>
    <img src="/images/me.jpg" alt="My photo" width="297" height="397" style="object-fit: cover;" />
    <ul>
  <li>My name is {identity.firstName}.</li>
  <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
  {identity.hobbies.length >= 3 &&
    <li>My hobbies are: {identity.hobbies[0]}, {identity.hobbies[2]} and {identity.hobbies[1]}</li>
  }
</ul>
    <p>Hello! I’m a passionate gamer who loves deep, story-driven experiences. I created this blog to share my favorite games and connect with others who appreciate immersive worlds and strong narratives.</p>
  </div>
  {happy && <p>I am happy to be learning Astro!</p>}

{finished && <p>I finished this tutorial!</p>}

{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
{ age >= 18 ? <p>I am an adult.</p> : <p>I am not an adult.</p>}

  
  
</Layout>

